{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block refresh %}<meta http-equiv="refresh" content="30">{% endblock %}
{% block content %}
    
    <div class="container">

        <div class="hero-unit">
            <h1>Usuarios :: Activos</h1>
            <p></p>
        </div>

        <div class="row">
            <table id="listuser" border="1" width="80%" align="center">
                <tr>
                    <th width="4%">#</th>
                    <th width="31%">Usuario(IP)</th>
                    <th width="25%">MAC</th>
                    <th width="14%">T. Act</th>
                    <th width="13%">IN (Mb)</th>
                    <th width="13%">OUT (Mb)</th>
                </tr>
                {% for usuario in usuarios %}
                <tr>
                    <th>{{ usuario.id }}</th>
                    <th align="left">&nbsp;&nbsp;&nbsp;{{ usuario.username }} ( {{ usuario.framedipaddress }} )</th>
                    <th>{{ usuario.callingstationid }}</th>
                    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ usuario.acctsessiontime }}</th>
                    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ usuario.acctinputoctets }}</th>
                    <th align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ usuario.acctoutputoctets }}</th>
                </tr>
                {% endfor %}
            </table>
        </div>
        <hr>

        <footer></footer>

    </div>

{% endblock %}