{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}
    
    <div class="container">

        <div class="hero-unit">
            <h1>Usuarios :: Modificar</h1>
            <p>{{ msg }}</p>
        </div>

        <div class="row">
            <form name="ususrios" action="{{ path('admin_usuarios_modificar', {session: session_id, id: usuario.id, usr: usuario.username}) }}" method="POST">
                <table border="1" width="500px" align="center">
                    <tr>
                        <th width="35%">Usuario</th>
                        <th width="35%">Password</th>
                        <th width="15%"></th>
                    </tr>
                    <tr>
                        <td><input type="text" name="user" value="{{ usuario.username }}"></td>
                        <td><input type="text" name="pass" value="{{ usuario.value }}"></td>
                        <td align="center"><input type="image" src="{{ asset('bundles/core/img/users/aprove.png') }}" width="32px" value="Submit" alt="Submit"></td>
                    </tr>
                </table>
            </form>
        </div>
        <hr>

        <footer></footer>

    </div>

{% endblock %}