{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}
    
    <div class="container">

        <div class="hero-unit">
            <h1>Usuarios :: Registrados</h1>
            <p>{{ mensaje }}</p>
        </div>

        <div class="row">
            <table id="listuser" border="1" width="70%" align="center">
                <tr>
                    <th width="5%">ID</th>
                    <th width="15%">Usuario</th>
                    <th width="30%">MAC ADDRESS 1</th>
                    <th width="30%">MAC ADDRESS 2</th>
                    <th width="10%">Editar</th>
                    <th width="10%">Eliminar</th>
                </tr>
                {% set i = 1 %}
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ usuario.username }}</td>
                        {% set i = 0 %}
                        {% if usuario.value == true %}
                            {% for data in usuario.value %}
                                <td>{{ data.macaddress }}</td>
                                {% set i = i+1 %}
                            {% endfor %}
                            {% if i < 2 %}
                                <td></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    <td align="center"><a href="{{ path('admin_usuarios_modificar', {session: session_id, id: usuario.id}) }}"><img src="{{ asset('bundles/core/img/users/edit.png') }}" width="32px"></a></td>
                    <td align="center"><a href="{{ path('admin_usuarios_eliminar', {session: session_id, id: usuario.id}) }}"><img src="{{ asset('bundles/core/img/users/del.png') }}" width="32px"></a></td>
                </tr>
                {% set i = i + 1 %}
                {% endfor %}
            </table>
        </div>
        <hr>

        <footer></footer>

    </div>

{% endblock %}