<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>:: UVM ::</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ asset('bundles/core/css/bootstrap.min.css') }}">
        <style>
            body {
                background-color: #fff;
                padding-top: 120px;
                padding-bottom: 40px;
            }
            #msg{
                background-color: #333;
                border: 0px solid #000;
                text-align: center;
                color: #FFF;
                font-size: 18px;
                padding: 5px;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('bundles/core/css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/core/css/main.css') }}">

        <script src="{{ asset('bundles/core/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <script type="text/javascript">
            function get_param(name)
            {
                if (location.href.indexOf("?") >= 0) { 
                    var query=location.href.split("?")[1];
                    var params=query.split("&");
                    for (var i = 0; i < params.length; i ++) {
                        value_pair=params[i].split("=");
                        if (value_pair[0] == name)
                            return unescape(value_pair[1]);
                    }
                }
                return "";
            }
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/portalc/web/">UVM :: Acceso</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{{ path('portal_change_pass') }}">Obtener acceso</a></li>
                            <li class="active"><a href="{{ path('portal_reset_pass') }}">Recuperar contraseña</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        
        <div class="container">
            <table border="0px" width="100%" height="auto" cellspacing="3" cellpading="3">
                {% if msg %}
                <tr cellspan="3"><div id="msg">{{ msg }}<div></tr>
                {% endif %}
                <tr cellspan="3">&nbsp;</tr>
                <tr>
                    <td width="10%" align="center"><img src="{{ asset('bundles/login/imgs/BannerB1.jpg') }}" height="220px"><br /><br /><img src="{{ asset('bundles/login/imgs/BannerB2.jpg') }}" height="220px"></td>
                    <td width="80%" align="center">
                        <script type="text/javascript">
                            document.write('<form method=POST action="http://' + get_param("sip") + ':9997/login">');
                        </script>
                        <!--<form method=POST action="{{ path('portal') }}">-->
                        <table border="0px" width="40%" height="auto" cellspacing="5" cellpading="5">
                            <tr>
                                <td><font size="5">Usuario:</font></td>
                                <td><input type="text" name="username" placeholder="nombre de usuario" value="{{ user }}"></td>
                            </tr>
                            <tr>
                                <td><font size="5">Password:</font></td>
                                <td><input type="password" name="password"  placeholder="contraseña" value="{{ pass }}"></td>
                            </tr>
                            <tr>
                                <td align="right"><input type="checkbox" name="chk_rec" value="chk_rec" {{ chk }} ></td>
                                <td align="left">Recordar usuario y contrase&ntilde;a</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><input type="submit" name="entrar" value="Accesar"></td>
                            </tr>
                        </table>
                        </form>
                    </td>
                    <td width="10%" align="center"><img src="{{ asset('bundles/login/imgs/BannerB1.jpg') }}" height="220px"><br /><br /><img src="{{ asset('bundles/login/imgs/BannerB2.jpg') }}" height="220px"></td>
                </tr>
                <tr>
                    <td colspan="3" align="center"></td>
                </tr>
            </table>
        </div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/core/js/vendor/jquery-1.10.1.min.js') }}"><\/script>')</script>

        <script src="{{ asset('bundles/core/js/vendor/bootstrap.min.js') }}"></script>

        <script src="{{ asset('bundles/core/js/main.js') }}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
